*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

.container {
    width: 70%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    
}
.container h1{
    margin-bottom: 10px;
}
.btn{
    background-color:#fff;
    color:rgb(63, 134, 255);
    border:2px rgb(63, 134, 255) solid;  
    border-radius:12px;
    padding:1% 2%;
    font-size:1em;
    transition: .2s ease-in-out all;
    box-shadow: 0 0px 15px rgba(0, 0, 200, 0.2);
    margin:10px
    
}

.btn:hover{
    background-color:#fff;
    color:rgb(63, 134, 255);
    border:2px rgb(63, 134, 255) solid;  
    box-shadow: 0 4px 15px rgba(0, 0, 200, 0.3);
    transform:translateY(-2%);
    transition: .2s ease-in-out all;
  }

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin-top: 20px;
    display: none; /* Initially hidden */
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.select{
    margin-top: 20px;
}





/* Add these styles to your existing CSS file or style block */

/* Title */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}


/* Video */
#cameraDiv {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    margin-bottom: 20px;
}

#videoElement {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Result Image */
#resultImage {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Media Query for smaller screens */
@media (max-width: 600px) {
    h1 {
        font-size: 20px;
    }
    .btn {
        font-size: 14px;
    }
}


@media only screen and (max-width: 600px) {
    .btn {
        padding: 5px 10px; /* Adjust padding for smaller screens */
        font-size: 14px; /* Adjust font size for smaller screens */
        margin: 5px; /* Adjust margin for smaller screens */
    }
}

